@charset "utf-8"

* {
* margin: 0; padding: 0}
a {
text-decoration: none}
ul, ol {
margin: 0;
padding: 0;
list-style: none}
img {
vertical-align: middle}
html {
line-height : 1.5;
font-size: 10px}
h1,h2,h3,h4,h5,h6 { margin-bottom : 12px}
h1 {
font-size: 24px; 
line-height: 1} /* 48px */
h2 {
font-size : 18px;
line-height : 1.3333} /* 48px */
h3{
font-size : 16px;
line-height : 1} /* 24px */
hgroup h2,h4,h5,h6 {
font-size : 12px;
line-height : 1.5} /* 24px */

div#page_navi li {
-webkit-border-radius: 12px;
border-radius: 12px;
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
padding: 0 10px 1px;
}
div#page_navi li:hover {
background: rgba(0, 0, 0, 0.15);
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

thead#shelf_list_header th {
background-color: rgba(0, 0, 0, 0.15);
}
