<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
  <script type="text/javascript" src="js/lib/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="js/lib/json2.js"></script>
  <script type="text/javascript" src="js/lib/underscore.js"></script>
  <script type="text/javascript" src="js/lib/backbone.js"></script>
  <script type="text/javascript" src="js/lib/jquery-ui.js"></script>
  <link rel="stylesheet" href="./css/themes/base/jquery.ui.all.css">
  <link rel="stylesheet" href="./css/common.css">
  <script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#tabs").tabs({
            activate: function( event, ui ) {
                console.log(ui.newTab);
                location.hash = ui.newTab.context.hash;
            }
        });
    });
  </script>
</head>
<body id="bookShelfApp">
  <h1>Books</h1>
  <div id="tabs">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#shelfs">Shelfs</a></li>
      <li><a href="#books">Books</a></li>
    </ul>
    <div id="home">
      <p>This page is home page.</p>
    </div>
    <div id="shelfs">
      <p>This page provide Book Shelf's Infromation.</p>
      <div>
        <div id="page_navi">
          <ul>
            <li id="shelf_regist_navi" style="display: block">Regist</li>
          </ul>
        </div>
        <div id="regist_form" style="display: none">
          <table>
            <tr>
              <th>Name</th>
              <td><input id="regist_name" type="text"></td>
            </tr>
            <tr>
              <th>Description</th>
              <td><textarea id="regist_description"></textarea></td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="button" value="regist">
              </td>
            </tr>
          </table>
          <hr />
        </div>
        <table>
          <thead id="shelf_list_header">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody id="shelf_list">
          </tbody>
        </tbody>
      </div>
    </div>
  </div>
</body>
  <script type="text/template" id="shelf-template">
      <td><%= id %></td>
      <td><%= name %></td>
      <td><%= description %></td>
  </script>
  <script type="text/javascript" src="js/shelf.js"></script>
  <script type="text/javascript" src="js/shelfView.js"></script>
  <script type="text/javascript" src="js/shelfTabView.js"></script>
  <script type="text/javascript" src="js/bookshelfRouter.js"></script>
  <script type="text/javascript" src="js/bookshelfApp.js"></script>
</html>
